#vscode
/.vscode/
*.code-workspace
.VSCodeCounter/

# Local History for Visual Studio Code
.history/

# poetry
*.lock
dist/

# pyenv
.python-version

# local dev files
testing.ipynb
debug.py
*.ipynb_checkpoints
*.log
bumpversion.sh
*trsh*
testing_dir/

# documentation
doc/build
graphics/

# compiled python
__pycache__

# pytest
.pytest_cache/

# dotenv
.env

