/.vscode/
*.code-workspace
# Local History for Visual Studio Code
.history/

*.goutputstream*

#pipenv
Pipfile*

*.lock
__pycache__

testing.py
debug.py
testing.ipynb
*.ipynb_checkpoints
*.bib
*.docx
*.log

bumpversion.sh
.python-version

*trsh*
.env*

doc/build